.annonce-consultant {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all_offres_titleblock {
  color: var(--white);
  background-color: var(--purple-light);
  height: 12vh;
  border-radius: 50px 50px 0 0;
}

h2 .all_offres_title {
  padding-bottom: 1vh;
}

.all_offres_button_consultant {
  border-radius: 20px;
  border: none;
  box-shadow: 3px 3px rgb(147 169 235 / 50%);
  padding: 0.5rem;
  width: 15vw;
  background-color: var(--white);
  color: var(--purple-dark);
  cursor: pointer;
  margin-bottom: 2vh;
}

.all_offres_button_consultant:hover {
  box-shadow: 4px 4px 2px 1px var(--orange);
  transform: scale(1.1);
}
