
.candidature_container_body .container_candidature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  margin-top: 9vh;
}
.candidature_container_body .container_candidature .filter-box-candidature {
  display: flex;
  width: 20vw;
}

.nouvelles_candidatures_candidatures {
  padding: 4vh 7vh;
  border-radius: 50px 50px 0 0;
  color: var(--white);
  background: var(--purple-light);
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
  width: 65vw;
  margin-left: 5vw;
}

.dashboard_candidature_candidature {
  padding: 4vh 2vw 2vh 2vw;
  width: 65vw;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 3px rgba(184, 197, 235, 0.5);
  gap: 20px;
  margin-left: 5vw;
  overflow: hidden;
}
.dashboard_candidature_candidature .button-container {
  color: white;
  background: #ff5400;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  text-transform: uppercase;
  -webkit-box-shadow: -2px 3px 4px 0px rgba(184, 197, 235, 1);
  box-shadow: -2px 3px 4px 0px rgba(184, 197, 235, 1);
  border: unset;
  cursor: pointer;
}
.candidature-modal {
  position: absolute;
  top: 25vh;
  left: 30vw;
  right: 30vw;
  bottom: 45vh;
  background-color: transparent;
}

.candidature-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.candidature-modal .title {
  background-color: var(--purple-light);
  height: 8vh;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.candidature-modal .content {
  background-color: var(--white);
  height: 20vh;
  padding: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  color: var(--purple-dark);
  gap: 3vw;
}

.candidature-modal .button {
  font-size: 0.9rem;
  color: white;
  background: #ff5400;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  -webkit-box-shadow: -2px 3px 4px 0px rgb(184 197 235);
  box-shadow: -2px 3px 4px 0px rgb(184 197 235);
  border: unset;
  cursor: pointer;
}
.grid{
   width: 60vw;
}
