.chat__sidebar {
  height: 100vh;
  flex: 0.2;
  padding: 20px;
  border: 3px solid black;
}

.chat__header {
  margin: 3vh 0 3vh 0;
}
.chat__users > * {
  margin-bottom: 3vh;
  border: 1px solid black;
}
