.bloc_offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 22vh;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: var(--purple-light) 5px 5px 15px;
  margin-bottom: 1vw;
  padding-right: 1vw;
}

.offer_block_job {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 90%;
  margin-left: 1.5vw;
}

#text_entreprise {
  margin-top: 0.5vh;

  color: var(--bleu);
}

#text_job {
  color: var(--purple-dark);
  margin-bottom: 1vh;
}

#text_date {
  color: var(--purple-dark);
  opacity: 0.7;
}

.offer_filter {
  display: flex;
  width: 50%;
  margin-bottom: 1vh;
}

.border_button {
  color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
  border-radius: 10px;
  padding: 1vh 2vw;
  margin-right: 5%;
  display: flex;
  align-items: center;
}

#border_button_offer {
  color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
  border-radius: 10px;
  padding: 1vh 2vw;
  display: flex;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

#border_button_offer:hover {
  transform: scale(1.1);
  color: var(--orange);
  border: 1px solid var(--orange);
}

.offer_block_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 30%;
}

#full_earth {
  color: var(--red);
}

.offer_logo {
  width: 9vw;
  margin-right: 5%;
}
