.reset_password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5vh;
  margin-top: 15vh;
}

.reset_password_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 30vw;
  text-align: left;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 1px rgba(123, 197, 198, 0.78);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(123, 197, 198, 0.78);
  -moz-box-shadow: 0px 0px 8px 1px rgba(123, 197, 198, 0.78);
  color: #7bc5c6;
  height: 45vh;
  border-radius: 25px;
  gap: 4vh;
  margin-bottom: 5vh;
  margin-top: 3vw;
}

.reset_password_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1vh;
}

.reset_password_input input,
.reset_password_button button {
  padding: 1rem;
  border-radius: 10px;
  border: #7bc5c6 1px solid;
  background: white;
  color: #7bc5c6;
  width: 20vw;
  height: 2vh;
  box-shadow: rgba(0, 0, 0, 0);
  outline: none;
}

.reset_password_form button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #7bc5c6;
  color: #ffffff;
  width: 14vw;
  cursor: pointer;
}

.reset_password_form .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.reset_password_title {
  color: #ff5400;
  font-weight: bold;
  margin: 0;
}

.reset_password_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  width: 20vw;
}

.resetpassword_message {
  color: var(--purple);
}
